body{
	display: grid;	
}

#addbtn{
	padding: 5px;
	margin: 30px;
}

#submitbtn{
	padding: 5px;
	margin: 30px;
	float: right;
}

#totalbuyprice{
	margin-left: 15px;
}

.robocontainer {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: baseline;
}

.roboitem{
	padding: 10px;
	flex-grow: 1;
}

#sellerinfo {
	display: grid;
	grid-gap: 10px;
	grid-template-areas: 
	"name notes"
	"email notes"
	"phone notes"
}

.sellerinfodiv{
	margin: 5px;
	margin-left: 10px;
	padding-left: 20px;
}

.sellerinfoitem-sm{
	min-width: 400px;
}

#sellername{
	grid-area: name;
}

#selleremail{
	grid-area: email;
}

#sellerphone{
	grid-area: phone;
}

#sellernotes{
	grid-area: notes;
}

.quantityitem{
	max-width: 50px;
	padding-left: 15px;
}

.trashbtn{
	flex-grow: 0;
	margin: 2px;
}

div[name=condition] {
	flex-grow: 0;
}

div[name=buyprice] > * > *{
	max-width: 75px;
}

input[type='number']{
  text-align:left;
}